In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("filtered_metadata.csv", low_memory = False)

In [3]:
data.head()

,seq_no,id,filename,study,location,width,height,category_id,name,genus,family,order,class,common_name
0,0,2010_Unit150_Ivan097_img0001.jpg,part0/sub000/2010_Unit150_Ivan097_img0001.jpg,CPW,"San Juan Mntns, Colorado",2048,1536,10,cervus elaphus,cervus,cervidae,artiodactyla,mammalia,red deer
1,1,2010_Unit150_Ivan097_img0002.jpg,part0/sub000/2010_Unit150_Ivan097_img0002.jpg,CPW,"San Juan Mntns, Colorado",2048,1536,10,cervus elaphus,cervus,cervidae,artiodactyla,mammalia,red deer
2,2,2010_Unit150_Ivan097_img0003.jpg,part0/sub000/2010_Unit150_Ivan097_img0003.jpg,CPW,"San Juan Mntns, Colorado",2048,1536,10,cervus elaphus,cervus,cervidae,artiodactyla,mammalia,red deer
3,3,2010_Unit150_Ivan097_img0004.jpg,part0/sub000/2010_Unit150_Ivan097_img0004.jpg,CPW,"San Juan Mntns, Colorado",2048,1536,10,cervus elaphus,cervus,cervidae,artiodactyla,mammalia,red deer
4,4,2010_Unit150_Ivan097_img0005.jpg,part0/sub000/2010_Unit150_Ivan097_img0005.jpg,CPW,"San Juan Mntns, Colorado",2048,1536,10,cervus elaphus,cervus,cervidae,artiodactyla,mammalia,red deer

In [4]:
# Anzahl der Einträge pro Kategorie festlegen
n = 3000

In [7]:
# Für jede Kategorie nur n zufällige Einträge auswählen
filtered_data_limited = (
    data.groupby('common_name')
    .apply(lambda x: x.sample(n=min(len(x), n)))
    .reset_index(drop=True)[data.columns]
)

/tmp/ipykernel_968748/2598849122.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: x.sample(n=min(len(x), n)))

In [8]:
df=filtered_data_limited

In [9]:
anzahl_pro_kategorie = df['common_name'].value_counts()

# Ergebnisse anzeigen
print(anzahl_pro_kategorie)

common_name
american black bear           3000
bobcat                        3000
california ground squirrel    3000
coyote                        3000
elk                           3000
empty                         3000
gray fox                      3000
mule deer                     3000
red deer                      3000
striped skunk                 3000
unidentified deer             3000
wild boar                     3000
Name: count, dtype: int64

In [10]:
# Das Ergebnis in eine neue CSV-Datei speichern
filtered_data_limited.to_csv("filtered_metadata_limited.csv", index=False)